.content {
  display: grid;
  grid-template-columns: 36rem 20rem;
  grid-template-rows: auto 1fr auto;
  background: #fff;
  border-radius: 0.2rem;
  height: 36rem;
  margin: auto;
  overflow: hidden;
  opacity: 0;
  transform: scale(0.8);
  animation: scale-up 300ms forwards;
}

.single.content {
  grid-template-columns: 1fr;
  height: auto;
}

@keyframes scale-up {
  to {
    opacity: initial;
    transform: initial;
  }
}

.details {
  padding: 2rem 2rem 0;
}

.single .details {
  padding: 1rem 0 0;
}

.image {
  grid-row: 1 / 4;
}

.single .image {
  grid-row: 1;
  border-radius: 0.4rem;
  overflow: hidden;
}

@media (max-width: 64rem) {
  .content {
    grid-template-columns: minmax(20rem, 40rem);
    height: auto;
    max-height: calc(100vh - 4rem);
    overflow-y: auto;
  }

  .image {
    grid-row: 1;
  }
}

.author {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  opacity: 0.5;
}

.author a:hover {
  text-decoration: underline;
}

.views::before {
  content: "";
  display: inline-block;
  height: 10px;
  width: 16px;
  margin-right: 0.5rem;
  background: url("../../../assets//dark-visualization.svg");
}

.attributes {
  display: flex;
  font-size: 1.125rem;
  font-weight: bold;
  margin: 2rem 0 1rem;
}

.attributes li {
  margin-right: 2rem;
}

.attributes li::before {
  content: "";
  background: #333;
  display: inline-block;
  position: relative;
  top: 3px;
  height: 20px;
  width: 2px;
  margin-top: 5px;
  margin-right: 0.5rem;
}
