.post:nth-child(2) {
  grid-column: 2 / 4;
  grid-row: span 2;
}

@media (max-width: 40rem) {
  .post:nth-child(2) {
    grid-column: initial;
    grid-row: initial;
  }
}

.post {
  display: grid;
  border-radius: 0.2rem;
  cursor: pointer;
  overflow: hidden;
}

.post > div {
  grid-area: 1 / 1;
}

.views {
  grid-area: 1 / 1;
  display: none;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  font-size: 1rem;
  text-align: center;
}

.views::before {
  content: "";
  display: inline-block;
  background: url("../../../assets/light-visualization.svg") no-repeat;
  height: 10px;
  width: 16px;
  margin-right: 0.25rem;
}

.post:hover .views {
  display: flex;
}
