header {
  background: #ffffff;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
}

.logo {
  padding: 0.5rem 0;
}

.login {
  display: flex;
  color: #333333;
}

.login::after {
  content: "";
  display: inline-block;
  background: url("../../assets/user.svg") no-repeat center center;
  height: 17px;
  width: 14px;
  margin-left: 0.5rem;
}
