@import url("https://fonts.googleapis.com/css2?family=Spectral:wght@700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-font: Helvetica, Arial, sans-serif;
  --secondary-font: "Spectral", Georgia;
}

body {
  color: #333333;
  font-family: var(--primary-font);
  padding-top: 4rem;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

button,
input {
  display: block;
  color: #333333;
  font-family: var(--primary-font);
  font-size: 1rem;
}

a {
  color: #333333;
  text-decoration: none;
}

.container {
  max-width: 50rem;
  margin: 0 auto;
  padding: 0 1rem;
}

.box {
  margin-top: 2rem;
}

.title {
  font-family: var(--secondary-font);
  font-size: 3rem;
  line-height: 1;
  margin: 1rem 0;
  position: relative;
  z-index: 1;
}

.title::after {
  content: "";
  display: block;
  background: #fb1;
  border-radius: 0.2rem;
  position: absolute;
  bottom: 5px;
  left: -5px;
  height: 1.5rem;
  width: 1.5rem;
  z-index: -1;
}

.animationFromLeft {
  opacity: 0;
  transform: translateX(-2rem);
  animation: animationFromLeft 200ms forwards;
}

@keyframes animationFromLeft {
  to {
    opacity: 1;
    transform: initial;
  }
}
